<%- include("../partials/header")-%>
<div class="container">

    <h2>Benificiary Accounts</h2>
    <div>
      <a href="/cus/benificiary/<%=account._id%>/new" class="btn btn-success mt-4 mb-4">Add Benificiary account</a>
  
    </div>
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Account Number</th>
          <!-- <th>Account Name</th>
          <th>Branch</th>
          <th>Account type</th> -->
          <th>Mobile</th>
          <th>Email</th>
          <!-- <th>address</th> -->
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="myTable">
          <%account.benificiary.forEach(function(account1){%>
        <tr>
          <td> <%=account1.accountno%> </td>
          <td><%=account1.mobile%></td>
          <td><%=account1.email%></td>
          <!-- <td><%=account.address%></td> -->
          <td><a href="/cus/benificiary/<%= account._id%>/<%=account1._id%>" class="btn btn-primary">Delete</a></td>
        </tr>
        <%})%>
        <!-- <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@mail.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@greatstuff.com</td>
        </tr>
        <tr>
          <td>Anja</td>
          <td>Ravendale</td>
          <td>a_r@test.com</td>
        </tr> -->
      </tbody>
    </table>
</div>




<script>$(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });</script>
    
<%- include("../partials/footer")-%>
