<%- include("../partials/header")-%>
<div class="container mt-5">
    Select your account you want to check the transactions
    <div class="row">
        <% customer.account.forEach(function(account){%>
            <div class="col-md-3 mt-3">
                <div class="card p-3 text-center">
              
                    <strong>Account Name</strong>:<%= account.accountname%>
                    <strong>Account No.</strong>:<%= account.accountno%>
                    <div><a href="/cus/accstatements/<%=account._id%>/" class="btn btn-primary">Select</a></div>
            
                </div>
            </div>
       <% })%>
    </div>
</div>   
    
<%- include("../partials/footer")-%>
